extends layout

block content
  h1= title
  if(title !== 'Thank you for voting!')
    p If you believe this is an error please contact
    a(href='mailto:reled_support@byu.edu') reled_support@byu.edu
